<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title color="dark">
      Memorizador Financeiro
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar> 
  </ion-header>
  
  <ion-grid>
    <ion-col>
      <ion-col>
        <!-- Essa coluna ta vazia porque eu não sei pular linha -->
      </ion-col>
      <ion-col>
        <center><ion-button fill="clear" color="dark">
        <h3><ion-icon name="calendar-outline"></ion-icon></h3>
        </ion-button></center>
        <center><h2><ion-label color="primary">Janeiro/2021</ion-label></h2></center>       
      </ion-col>
    </ion-col>
  </ion-grid>

  <ion-card>
    <ion-item> <!-- Saldo -->
      <ion-icon name="wallet-outline" slot="start" color="primary"></ion-icon>
      <ion-label color="success">Saldo = R$ 675,00</ion-label>
      <ion-button slot="end" fill="clear">
        <h2><ion-icon color="dark" name="pencil" slot="end"></ion-icon></h2> <!-- Para alterar manualmente o saldo -->
      </ion-button>
    </ion-item>
  </ion-card>
  <ion-col>
    <!-- Essa coluna ta vazia porque eu não sei pular linha -->
  </ion-col>

  <ion-card>
    <ion-item> <!-- Recebido -->
      <ion-icon name="trending-up-outline" slot="start" color="primary"></ion-icon>
      <ion-label color="success" (click)="chamarRecebido()">Recebido = R$ 1416,00</ion-label>
      <ion-button slot="end" fill="clear"> <!-- Esses + vão jogar direto pro formulário -->
        <h2><ion-icon color="dark" name="add-outline" slot="end"></ion-icon></h2>
      </ion-button>      
    </ion-item>
    <ion-item> <!-- Pago -->
      <ion-icon name="trending-down-outline" slot="start" color="primary"></ion-icon>
      <ion-label color="danger" (click)="chamarPago()">Pago = R$ 45,00</ion-label>
      <ion-button slot="end" fill="clear">
        <h2><ion-icon color="dark" name="add-outline" slot="end"></ion-icon></h2>
      </ion-button>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item> <!-- À receber -->
      <ion-icon name="swap-vertical-outline" slot="start" color="primary"></ion-icon>
      <ion-label color="success" (click)="chamarReceber()">À receber = R$ 50,00</ion-label>
      <ion-button slot="end" fill="clear">
        <h2><ion-icon color="dark" name="add-outline" slot="end"></ion-icon></h2>
      </ion-button>
    </ion-item>
    <ion-item> <!-- À pagar -->
      <ion-icon name="swap-horizontal-outline" slot="start" color="primary"></ion-icon>
      <ion-label color="danger" (click)="chamarPagar()">À pagar = R$ 220,00</ion-label>
      <ion-button slot="end" fill="clear">
        <h2><ion-icon color="dark" name="add-outline" slot="end"></ion-icon></h2>
      </ion-button>
    </ion-item>
  </ion-card>

  

  
  
</ion-content>
