<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>A pagar em Janeiro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-title color="primary">Dia 03</ion-card-title>
      <ion-card-title color="danger"><h1>R$ 220,00</h1></ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <h2>Conta de luz, prazo máximo dia 19</h2>
    </ion-card-content>
  </ion-card>

  <ion-fab vertical="bottom" horizontal="end" (click)="chamarFormulario()">
    <ion-fab-button color="primary"> 
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
